body {
    font-family: Arial, sans-serif;
    background: #f0f1f0;
    border-top: 100px solid #008026;
    margin: 0;
    padding: 0;
}
header {
    background-color: #008026;
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom: 5px solid #008026; /* Cor de borda mais escura para contraste */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
h1 {
    position: relative;
    top: 0px;
    color: white;
    text-align: center;
    display: block;
    margin-left: 375px;
    margin-right: auto;
}
h2{
    text-align: center;
    margin-top: 100px;
}
#mapa {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
button {
    font: sans-serif;
    text-align: center;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin: 20px auto;
    display: block;
    width: 300px;
    margin: 20px auto;
    background-color: #008026;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    }
select {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 6px;
    font-size: 20px;
    margin-right: 5px; /* Adiciona uma margem à direita do select */
}
#cacamba {
    display: block;
    width: 500px;
    margin: 20px auto;
    background-color: #008026;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
#titulo {
    text-align: center;
    color: #008026;
    font-size: 24px;
}
#texto {
    margin: 20px auto;
    width: 80%;
    line-height: 1.6;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 200px; /* Ajuste conforme necessário */
}
page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrap {
    flex: 1;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
img {
    float: left;
    margin-right: 50px;
    height: 400px;
    margin-top: 50px;
}
p {
    margin-bottom: 50px;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-top: 100px;
}
.center {
    display: block;
    margin-left: 370px;
    margin-right: auto;
    width: 50%;
  }

.meuTextoCentralizado {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
  }
.h2-verde {
    color: #008026; }

 