{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recicle-Já</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <img id="logo" src="Power.png" alt="Logotipo">
        <h1>Recicle-Já</h1>
    </header>
<div class="page-container">
    <div class="content-wrap">
        <h2>Olá👋! Por favor, escolha o tipo de resíduo que você gostaria de descartar: 🗑️🔄</h2> <br>
            <div class="container">
                <select id="residuo">
                    <option value="plastico">Plástico</option>
                    <option value="vidro">Vidro</option>
                    <option value="Papelão">Papelão</option>
                    <option value="Matéria orgânica">Matéria orgânica</option>
                    <option value="Metais">Metais</option>
                    <option value="Madeiras">Madeiras</option>
                    <option value="Eletrônicos">Eletrônicos</option>
                    <option value="Eletrodomésticos">Eletrodomésticos</option>
                    <option value="Roupas">Roupas</option>
                    <option value="Entulho">Entulho</option>
            <!-- Adicione mais opções conforme necessário -->
                </select>
            
                <button onclick="buscarLocais()">Buscar locais de descarte</button>
                
            </div>
        <!--<iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.289107704891!2d-46.63881848487376!3d-23.55051988469059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58a85e4f5555%3A0x5408c9502c93b8ce!2sS%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo%2C%20Brazil!5e0!3m2!1sen!2sus!4v1632962271116!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.859861818305!2d-47.12787652467001!3d-22.881634636972635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c7f815bd8429%3A0xfe63d12e39ecf6ec!2sEcoponto%20Parque%20Via%20Norte!5e0!3m2!1sen!2sus!4v1696102360613!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- Adicione mais elementos conforme necessário -->
        <p id="cacamba"></p> <!-- Elemento adicionado para exibir a mensagem da caçamba -->
        <script src="scripts.js"></script>
        <p id="agradecimento"</p>
        

        <h2 id="titulo">A Importância da Reciclagem para o Planeta</h2>
        <img src="alternativa_de_reciclagem_01.png" alt="Descrição da imagem">
        <br>
        
        <p id="texto">
            A reciclagem desempenha um papel crucial na preservação do planeta. Ao reciclar materiais como papel, plástico, vidro e metal, reduzimos a quantidade de resíduos enviados para aterros sanitários, o que ajuda a evitar a poluição do solo e da água.
        </p>

        <p>
            Além disso, ao reciclar, economizamos energia, uma vez que a produção de materiais a partir de matérias-primas virgens consome mais energia do que a reciclagem.A reciclagem também contribui para a redução do desmatamento, já que a produção de papel a partir de árvores pode ser evitada com a reciclagem do papel já utilizado.  
        </p>

        <p>Ao adotar práticas de reciclagem, estamos promovendo a sustentabilidade ambiental e garantindo um futuro mais limpo e saudável para as gerações futuras. Cada um de nós tem um papel importante a desempenhar ao fazer escolhas conscientes e apoiar a reciclagem.
        </p>
    
        <p>Por fim, ao promover a reciclagem, estamos construindo uma sociedade mais sustentável e consciente, onde a economia circular é valorizada.
        </p>
        <br>
        
        <h2 class="h2-verde">Guia Prático: Como Descartar o Lixo de Maneira Responsável</h2>
        <br>  
        
        <img src="lixo-reciclavel.webp" alt="Descrição da imagem" class="center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        
        <p class="meuTextoCentralizado">Descartar o lixo de maneira responsável é essencial para a preservação do meio ambiente. Com algumas práticas simples, podemos reduzir a quantidade de resíduos que vão para aterros sanitários e contaminam o solo e a água. Confira abaixo um guia prático para descartar o lixo de forma consciente:</p>

        <p class="meuTextoCentralizado"><strong>1. Separe os resíduos:</strong> Divida o lixo em categorias como papel, plástico, vidro e orgânico. Isso facilita a reciclagem e o descarte adequado de cada tipo de material.</p>

        <p class="meuTextoCentralizado"><strong>2. Recicle:</strong> Verifique se sua cidade possui coleta seletiva. Separar os recicláveis é fundamental para que eles sejam encaminhados para reciclagem e transformados em novos produtos.</p>

        <p class="meuTextoCentralizado"><strong>3. Compostagem:</strong> Os resíduos orgânicos, como restos de alimentos e folhas, podem ser compostados em casa. Isso ajuda a reduzir a quantidade de lixo enviado aos aterros e ainda produz adubo natural para suas plantas. </p>

        <p class="meuTextoCentralizado"><strong>4. Evite o desperdício:</strong> Uma forma eficiente de descartar menos lixo é evitar o desperdício. Planeje suas compras, armazene corretamente os alimentos e consuma de forma consciente, priorizando produtos duráveis e de qualidade. </p>

        <p class="meuTextoCentralizado"><strong>5. Reduza o uso de plástico:</strong> Opte por produtos com embalagens sustentáveis ou que possam ser reutilizadas. Evite sacolas plásticas descartáveis e utilize sacolas reutilizáveis ao fazer compras. </p>
        
        <p class="meuTextoCentralizado"><strong>6. Descarte de medicamentos e produtos químicos:</strong> Esses materiais devem ser descartados corretamente, evitando que contaminem o meio ambiente. Procure informações sobre postos de coleta para esses resíduos em sua região. </p>

        <p class="meuTextoCentralizado"><strong>7. Pilhas e baterias:</strong> Nunca descarte pilhas e baterias no lixo comum. Elas contêm substâncias tóxicas que podem causar danos ao meio ambiente. Procure pontos de coleta específicos para esse tipo de resíduo. </p>

        <p class="meuTextoCentralizado"><strong>8. Eletroeletrônicos:</strong> Equipamentos eletrônicos contêm metais pesados e outros materiais nocivos. Procure empresas ou postos de coleta que façam o descarte adequado desses itens. </p>

        <p class="meuTextoCentralizado"><strong>9. Lixo eletrônico:</strong> Celulares, computadores e outros dispositivos eletrônicos não devem ser descartados no lixo comum. Busque pontos de coleta ou empresas especializadas para o descarte seguro desses materiais. </p>

        <p class="meuTextoCentralizado"><strong>10. Esteja atento às normas locais:</strong> Verifique as regulamentações e diretrizes de descarte de lixo em sua região. Algumas cidades possuem regras específicas que devem ser seguidas. </p>
            
        <p class="meuTextoCentralizado">Ao seguir essas orientações, você estará contribuindo para um ambiente mais limpo e saudável. Lembre-se de que a responsabilidade pelo descarte correto do lixo é de todos. Faça a sua parte e estimule a conscientização da comunidade ao seu redor.</p>
            
            
        
        <h2 class="h2-verde">Consciente do Lixo: Explorando os Diferentes Tipos de Resíduos</h2>
        <br><br>

        <p class="meuTextoCentralizado">No mundo moderno, a questão do lixo se tornou uma preocupação global. Com o aumento da população e a aceleração do consumo, é crucial compreender os diferentes tipos de resíduos e como eles afetam nosso meio ambiente. Neste texto, exploraremos os principais tipos de lixo e a importância de adotar práticas adequadas de gestão de resíduos.</p>
        
        <p class="meuTextoCentralizado"><strong>1. Lixo Orgânico:</strong> Composto por restos de alimentos, folhas, cascas, entre outros materiais biodegradáveis.
          Pode ser transformado em adubo através da compostagem, auxiliando na fertilização do solo.</p>
        
          <p class="meuTextoCentralizado"><strong>2. Lixo Reciclável:</strong> Inclui materiais como papel, plástico, vidro e metal.
          Pode ser processado e transformado em novos produtos, reduzindo a necessidade de extração de recursos naturais.</p> 
        
          <p class="meuTextoCentralizado"><strong>3. Lixo Eletrônico:</strong> Consiste em dispositivos eletrônicos descartados, como celulares, computadores e eletrodomésticos.
          Esses equipamentos contêm materiais tóxicos e devem ser descartados corretamente em pontos de coleta específicos.</p>
        
          <p class="meuTextoCentralizado"><strong>4. Lixo Hospitalar:</strong>Originado em hospitais, clínicas e laboratórios.

             Inclui materiais contaminados, como agulhas, luvas e medicamentos vencidos.
            
             Requer um tratamento especializado para evitar a propagação de doenças e contaminação ambiental. <p>
        
          <p class="meuTextoCentralizado"><strong>5. Lixo Tóxico:</strong>Composto por substâncias perigosas, como produtos químicos, solventes e pesticidas.

             Requer tratamento e disposição adequados para evitar danos à saúde humana e ao meio ambiente. <p>  
        
          <p class="meuTextoCentralizado">A conscientização sobre os diferentes tipos de lixo é essencial para promover uma gestão adequada dos resíduos. Ao separar corretamente o lixo orgânico do reciclável e descartar adequadamente os resíduos eletrônicos, hospitalares e tóxicos, podemos minimizar os impactos negativos no meio ambiente e contribuir para um futuro mais sustentável. É responsabilidade de cada um de nós fazer a nossa parte, adotando práticas de consumo consciente e participando ativamente da reciclagem e descarte responsável.</p>
        
        
        
        
        
          <div class="form-container">
            <h2>Denuncie Crimes Ambientais Anonimamente</h2>
            <form id="reportForm">
                <input type="text" id="address" name="address" placeholder="Endereço do crime ambiental">
                <input type="date" id="date" name="date">
                <textarea id="description" name="description" placeholder="Descrição do crime ambiental"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>

        <br><br><br><br><br><br>


        
        
        
        
        
        
        <footer class="footer">
            <p>Recicle-Já © 2023 Criado e Desenvolvido Por Vinicius Marchesi</p>
        </footer>
    </div>
</div> 
</body>
</html>
